.cars-tols{
    padding-top: 0!important;
}
#chartdiv {
    display: block;
    text-align: center;
    width: 100%;
    height: 250px;
} 
#chartdiv1 {
    display: block;
    text-align: center;
    width: 100%;
    height: 250px;
}