.container-fluid{
    margin-top: 0px;
    
}

#btn-ocultar-cards{
    border-color: #dddfeb;
    margin-left: 40%;
    margin-bottom: 10px;
    height:25px;
    width: 20%;
    
}
.icono-principal{
    margin-left: 46%;
}

@media (max-width: 700px) {
    .icono-principal{
        margin-left: 0px;
    }
}

.swal2-container.swal2-backdrop-show, 
.swal2-container.swal2-noanimation{
    //background-color: #1d335f !important;
    
    background-size: cover !important;
    background-image: url(../img/img_login.jpg) !important;
    
}